.root {
    display: flex;
    flex-direction: column;
    gap: 30px;
    widht: 100%;
    padding-bottom: 90px;
}

.button {
    width: 220px;
    height: 35px;
}

.oranges {
    padding: 20px;
}

.tables {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.tableTitle {
    margin-bottom: 15px;
}
