* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  overflow: hidden;
}

html {
  font-size: 62.5%
}

body {
  font-size: 1.6em;
  font-weight: 500;
  line-height: 1.3;
  color: #373737;
}

h1 { font-size: 3rem }

h2 { font-size: 2.4rem }

h3 { font-size: 2rem }

h4, li, label, input, textarea, select, p {
  font-size: 1.8rem;
}

h5 { font-size: 1.6rem }

h6 { font-size: 1.4rem }

ol, ul { padding-left: 2em }

a {
  text-decoration: underline;
}
